<% include partials/header%>

<div class="overlay">
    <div class="box-1"></div>
    <div class="box-2"></div>
    <div class="box-3"></div>
    <div class="box-4"></div>

</div>
<main>
    <h1><span>EX</span>PLORE</h1>
    <h5>the world</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur molestiae suscipit porro, cum blanditiis distinctio quidem asperiores vero quam minus adipisci saepe, quos officiis aliquid.</p>
        <button onclick="window.location.href='/camp'">View Campgrounds</button>

</main>
<% include partials/footer %>